body{
    background-color: #15394b;
    color:aliceblue;
  }
.navbar {
  background-color: #15394b;
   /* -webkit-box-shadow: 0 1px 0px 0px aliceblue;
    -moz-box-shadow: 0 1px 0px 0px aliceblue;
    box-shadow: 0 1px 0px 0px aliceblue; */
    /* the rest of your styling */
}
.navbar-brand {
  color:aliceblue;
}
.navbar-brand:hover {
  color: aliceblue;
}
.navbar-brand:visited {
  color: aliceblue;
}
.under {
  text-decoration: underline;
}
.sqbutt {
  height:120px;
  width:120px;
}