body{
    background-color: #15394b;
    color:aliceblue;
  }
.navbar {
  
   /* -webkit-box-shadow: 0 8px 6px -6px #2dbee2;
    -moz-box-shadow: 0 8px 6px -6px #2dbee2;
    box-shadow: 0 8px 6px -6px #2dbee2; */
    /* the rest of your styling */
}
.navbar-brand {
  color:aliceblue;
}
.navbar-brand:hover {
  color: aliceblue;
}